:root {
  --text-size:30px;
}
@media only screen and (orientation: landscape ) {
  :root {
    --text-size:30px;
  }
}
@media only screen and (orientation: portrait) {
  :root {
    --text-size:20px;
  }
}

.home-header {
  font-size: var(--text-size);
  color: black;
  font-family: Verdana, Geneva, Tahoma, serif;
  
}